html {
    
    font-family: 'Creepster', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rampart One', cursive;
    font-family: 'Rubik Iso', cursive;
}
button{

    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color:rgb(100, 61, 136);
    margin-left: 0rem;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 25px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
   }

   button::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .9;
    transform: perspective(1.5em) rotateX('35deg') scale(1, .6);
   }
   
   button:hover {
   color: var(--btn-color);
   background-color: var(--glow-color);
   box-shadow: 0 0 1em .25em var(--glow-color),
   0 0 4em 2em var(--glow-spread-color),
   inset 0 0 .75em .25em var(--glow-color);
   }
body{
    margin: 0;
    background-color: #0a0a0a;
}
p{
    font-display: center;
    text-align: justify;
    color: rgb(249, 245, 249);
    text-decoration-style: solid;
}
header{
    background-color: #51087e;
    color: rgba(218, 203, 75, 0.701);
    padding: 5px 5px;
}

header h1{
    font-size: 1rem;
    text-align: center;
}

.content{
    width: 400px;
    margin: 0 auto;

}

.container{
    width: 400px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



section article{
    color: #fff;
    transition: box-shadow 0.3s ease;
    background-color: #140e65;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}

section article h2, section article p{
    margin: 1rem;
}

footer{
    position: top;
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    color: cornflowerblue
}

